<div id="login">
  <form tuiForm="m" [style.max-width.rem]="32" [formGroup]="loginForm">
    <tui-textfield>
      <label tuiLabel>{{labels.username}}</label>
      <input tuiInput type="text" formControlName="username"/>
    </tui-textfield>
    @if (loginForm.controls.username.touched) {
      @for (error of loginForm.controls.username.errors | keyvalue; track error.key) {
        @if ($first) {
          <tui-error [error]="getErrorMessage(error.key,'username')"/>
        }
      }
    }
    <tui-textfield>
      <label tuiLabel>{{ labels.password }} </label>
      <input tuiInput type="password" formControlName="password"/>
    </tui-textfield>
    @if (loginForm.controls.password.touched) {
      @for (error of loginForm.controls.password.errors | keyvalue; track error.key) {
        @if ($first) {
          <tui-error [error]="getErrorMessage(error.key,'password')"/>
        }
      }
    }

    <button size="s" tuiButton (click)="onSubmit()">{{ buttonName }}</button>
  </form>
</div>
